<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header'); %>
    <h1><%= title %></h1>
    <div>
        <p>Description : <%= category.description %> </p>   
        <ul>
          <% category_plants.forEach((plant) => { %>  
            <li><%= plant.name %></li>
            <% }) %>
        </ul>   
        <a href=<%=category.url + "/delete"%>>Delete</a>
        <a href=<%=category.url + "/update"%>>Update</a>
    </div>
  </body>
</html>
